*{
	margin: 0;
	padding: 0;
}

body{
	background-image:url("https://cdn.hipwallpaper.com/m/34/97/4HZAoz.jpg");
	background-repeat: no-repeat;
	/* background-size: 100vw 100vh; */
	background-size: auto;
	/* width: 100%; */
	text-align: center;
}

#header{
	font-size: 35px;
	font-family: fantastic;
	font-weight: 900;
	color: black;
	padding: 15px ;	
	background-color: #D4FFFF;
	/* 1b1919 */
}
input{
	border: 0.1px solid black;	
	border-radius: 3px;
	font-size: 26px;
	font-weight: bold;
	height : 25px;
	width: 84% ;	
	margin :12px 7px 7px 7px;
	padding: 10px 10px;
	background-color: #F1F8F7 ;
}

button{
	height: 60px;
	width : 60px;
	color: #020202;
	/* background-color: ; */
	border-radius: 10px;
	font-size: 25px;
	font-weight : 250;
	margin : 10px;
}

.cal-container{
	border-radius: 10px;
	border : 1px solid rgb(17, 17, 17);
	height: auto;
	width: 350px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto; 
	background-color: white; 
	position: relative;
}

#btnTheme ,#btnDrop {
	width : 138px;
}

#footer{
	font-size: 35px;
	font-family: fantastic;
	font-weight: 900;
	color: black;
	padding: 15px ;	
	background-color: #D4FFFF;
}



/* control the responsivity  */
/* On screens that are 245px wide or less, the margin of calucator is blue  */
@media screen and (max-width: 500px) {

.container-calculatrice{
	margin-top: 15%;
	width: 200px;

	}

button{
	height: 40px;
	width : 50px;
	font-size: 15px;
	margin : 2px;
}

#btnTheme ,#btnDrop {
	width : 100px;
}

input{
  border: 0.5px solid black;	
	font-size: 25px;
	font-weight: bold;
	height : 40px;
	width:98% ;	
	background-color: #F1F8F7 ;
	margin-top: 2px;
}

}













